<div class="text-center mt-5">
  <%= button_to "Find Top Rated Movies", movies_path, method: :get, local: true ,class: "btn btn-sm btn-light button-bg btn-outline-dark"%>
  <br>

  <br>
  <%= render partial: 'shared/movie_search' %>
</div>
